* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/* MOBILE VIEW BELOW THIS */

body {
    background-color: #006E7F;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;
}

label {
    margin: 10px;
}

input {
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #baaca0;
}

#pmt-amt {
    margin-left: 10px;
}

form {
    width: 75%;
    background-color: #F8CB2E;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 2px #EE5007;
}

button {
    width: 20vh;
    margin: auto;
    background-color: #B22727;
    color: #F1FFE7;
    border: none;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 2px #EE5007;
}

p {
    margin: 0;
}

div {
    width: 50%;
    padding: 10px;
    list-style: none;
    text-align: center;
    background-color: #B22727;
    border-radius: 25px; 
    box-shadow: 10px 10px 10px 2px #EE5007;
}

div .li {
    border-radius: 25px;
}



/***Changes put inside this query will only appear AT or ABOVE 768px***/
/***THIS QUERY IS OUR DESKTOP VIEW***/
@media only screen and (min-width: 768px) { 

body {
    background-color: #006E7F;
    display: flex;
    color: #000;
}

/* form {
    width: 100%;
} */

}