* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/* MOBILE VIEW BELOW THIS */

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5E7386;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;
}

label {
    margin: 10px;
}

input {
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #baaca0;
}

#pmt-amt {
    margin-left: 10px;
}

#welcome-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rest-of-page {
    display: none;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 75%;
    height: 50vh;
    background-color: #D9edff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 2px #4b5c6b;
    font-size: large;
}

label {
    margin-bottom: 20px;
}

button {
    width: 20vh;
    margin: 20px auto;
    background-color: #86a4bf;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 25px;
    /* box-shadow: 3px 3px 3px 2px #EE5007; */
}

p#expense-input {
    margin: 20px 10px;
    margin-bottom: 0;
}

select {
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #baaca0;
}

.form1-inputs {
    /* margin: 40px 0px; */
    display: flex;
    flex-direction: column;
}

.form2-inputs {
    /* margin: 30px 0px; */
    display: flex;
    flex-direction: column;
}

.balances {
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
    list-style: none;
    text-align: center;
    background-color: #D9edff;
    border-radius: 25px; 
    box-shadow: 10px 10px 10px 2px #4b5c6b;
}


/***Changes put inside this query will only appear AT or ABOVE 768px***/
/***THIS QUERY IS OUR DESKTOP VIEW***/
@media only screen and (min-width: 768px) { 

body {
    background-color: #5E7386;
    display: flex;
    color: #000;
}

/* form {
    width: 100%;
} */

}